* {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}
h2 {
    background: #334D5C;
    color: whitesmoke;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 45px;
    margin-top: 50px;
    margin-left: auto; /*centers horizontally*/
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 300px;
    text-align: center;
}
h3 {
    color: whitesmoke;
    font-weight: 400;
    font-size: 30px;
    margin-top: 15px;
}

/*NOTE: 
body {
    margin: 0 20%;
    box-shadow: 0px 0px 100px gray;
    font-family: 'Ubuntu', sans-serif;
*/

/*Page container*/
.shadow_box {
    margin-left: 100px;
    margin-right: 100px;
    box-shadow: 10px 0px 20px 10px rgb(220, 220, 220), -10px 0px 20px 10px rgb(220, 220, 220);  /*horizontal vertical blur-radius spread-radius color*/
}
/*Page container finit*/


/*header commence*/
header {
    background: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}
/*logo du header*/
.logo {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo > img {
    height: 200px;
    width: 200px;
    object-fit: contain;
    margin-left: 15px;
}
/*menu*/
nav {
    flex: 1;
}
ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
li {
    text-transform: uppercase;
    text-align: center;
    font-size: 10px;
    margin-right: 15px;
}
li > a {
    text-decoration: none; /*removes underline*/
    color: whitesmoke;
}
li > a >img {
    height: 50px;
    width: 50px;
    padding-bottom: 5px; /*gap b/n image & text*/
}
/*header finit*/



/*Articles commence*/


/*Banner*/
.banner {
    background: #334D5C;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}
.image{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image > img {
    height: 125px;
    width: 125px;
    object-fit: contain;
}
.text {
    flex: 2;
}
.text > h2 {
    background: none;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 100%;
    text-align: left;
}


/*Articles*/
section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 40px;
}
/*NOTE: git When you put flex-direction column the align-items changes axis and works like justify content normally would. They reverse their purpose.*/
section > .image > img {
    height: 175px;
    width: 175px;
    object-fit: contain;
}
.text > p {
    margin-left: 75px;
    margin-right: 75px;
}
/*NOTE: You shouldn't use large margins because it plays with the pixels of your page. Better to put .image and .text as flex:1 and the section in a display-flex.*/
/*Liens*/
.links {
    background-color: #EAE3D6;
    padding: 30px;
}
.links > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
} 
#evolution > .links > ul {
    display: flex;
    flex-wrap: wrap;
}
#evolution > .links > ul > li {
    flex: 20%;
} 
.links > ul > li {
    text-transform: none;  /*removes uppercase*/
    font-size: 16px;
    flex: 1;
}
.links > ul > li > a {
    color: black;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.links > ul > li > a > img {
    height: 75px;
    width: 75px;
    padding-bottom: 20px; /*gap b/n image & text*/
}
/*Articles finit*/



/*Footer commence*/
footer {
    background: #393A3B;
    padding: 20px;
    color: whitesmoke;
}
h6 {
    font-size: 16px;
    margin: 0px 0px 30px 10px;
}
footer > section {
    display: flex;
    align-items: center;
    margin: 0;
}
footer > section > div {
    margin: 0 50px;
}
footer > section > div > a > img {
    height: 50px;
    width: 50px;
    margin: 0 5px;
}
footer > p {
    text-align: right;
    font-size: 12px;
    padding-right: 10px;
}
/*Footer finit*/



/* Media Query pour Téléphone */
@media screen and (max-width: 576px) {
    .shadow_box {
        margin: 0; 
        box-shadow: none;
    }
    header {
        height: 50px;
    }
    .logo > img {
        height: 100px;
        width: 100px;
        object-fit: contain;
        margin-left: 10px;
    }
    li {
        font-size: 8px;
        margin-right: 10px;
        text-transform: capitalize;
    }
    li > a >img {
        height: 25px;
        width: 25px;
        padding-bottom: 5px; /*gap b/n image & text*/
    }
    .banner {
        height: 100px;
    }
    .image > img {
        height: 75px;
        width: 75px;
    }
    h2 {
        font-size: 25px;
        margin-top: 25px;
        margin-right: auto;
        padding-top: 5px;
        padding-bottom: 5px;
        width: 150px;
    }
    h3 {
        color: whitesmoke;
        font-weight: 400;
        font-size: 15px;
        margin-top: 15px;
    }
    section {
        height: 75px;
        margin-top: 20px;
    }
    section > .image > img {
        height: 85px;
    }
    .text > p {
        margin-left: 35px;
        margin-right: 35px;
        font-size: 10px;
    }
    .links > ul > li {
        font-size: 10px;
    }
    .links > ul > li > a > img {
        height: 30px;
        width: 30px;
        margin-left: 25px;
        margin-right: 25px;
        padding-bottom: 5px; /*gap b/n image & text*/
    }
    footer {
        padding: 10px;
    }
    h6 {
        font-size: 10px;
        margin: 0px 0px 15px 5px;
    }
    footer > section > div {
        margin: 0 25px;
    }
    footer > section > div > a > img {
        height: 25px;
        width: 25px;
        margin: 0 5px;
    }
    footer > p {
        text-align: right;
        font-size: 8px;
        padding-right: 5px;
    }
}